<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    </head>
    <body>
        <% if (!(login)) { %>
             <script> window.location.href = "/" </script> 
         <% } else { %>
            <h1 class="text-4xl">Hello World</h1>

            <p>This should only be available if logged in</p>
       <% } %>

    </body>
</html>