<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaauth/dist/pwa-auth.js"></script>

  </head>


  <body>  
    
    <% if (!(login)) { %>
    
        <pwa-auth id="auth" style="display: block"
            microsoftkey="9b12a7f3-2f91-4e05-8bc2-2a1bc3c5a710">
        </pwa-auth>

        <script>
            const pwaAuth = document.querySelector("pwa-auth");
            pwaAuth.addEventListener("signin-completed", ev => {
                const signIn = ev.detail;
                if (signIn.error) {
                    console.error("Sign in failed", signIn.error);
                } else {
                    // console.log("Email: ", signIn.email);
                    // console.log("Name: ", signIn.name);
                    // console.log("Picture: ", signIn.imageUrl);
                    // console.log("Provider (MS, Google, FB): ", signIn.provider);
                    console.log("Raw data from provider: ", signIn.providerData);
                    console.log("Access token: ", ev.detail.providerData.accessToken);
                    // console.log("Access token: ", signIn.accessToken);
                    // console.log("Unique ID from MS: ", signIn.providerData.uniqueId);
                    // console.log('name is type: ', typeof signIn.name);
                    var name = signIn.name;
                    // console.log(name.split(","));
                    var lName = name.split(",")[0].trim();
                    var fName = name.split(",")[1].trim();
                    // console.log(fName);
                    // console.log(lName);
                    var email = signIn.email;
                    document.getElementById("details").innerHTML = "Name: " + name + "<br> Email: " + email + "<br>";
                    document.getElementById("user-form").style.display = "block";
                    document.getElementById("fName").innerHTML += "<input type='hidden' name='fName' value=" + fName + ">";
                    document.getElementById("lName").innerHTML += "<input type='hidden' name='lName' value=" + lName + ">";
                    document.getElementById("email").innerHTML += "<input type='hidden' name='email' value=" + email + ">";
                    // document.getElementById("check").innerHTML += "<input type='hidden' name='check' value=" + email + ">";
                    // document.forms['checker'].submit();
                    // document.getElementById("auth").style.display = "none";


                }
            });
        </script>     
    <% } %>  

    <!-- <p> logged in: <%= login %> </p>
    <p> Reason: <%= reason %> </p> -->

    <% if (login) { %>
        <p>You are already logged in. Redirecting...</p>
        <script>
            setTimeout(function () {
                window.location.href = "/"; //will redirect to your blog page (an ex: blog.html)
            }  , 2000);
        </script>
    <% } %>

    <!-- <form action="/users/check" method="POST" name="checker">
        <a id="check"></a>
    </form> -->

    <div class="user-detail" id="user-form" style='display: none'>
        <h2>Tell us more</h2>
        
        <p id="details"></p>
        <form action="/users/create" method="POST">
            <!-- <label>Full Name</label> -->
            <!-- <input type="text" placeholder="Enter First Name" name="fName" required>
            <input type="text" placeholder="Enter Surname" name="lName" required> -->
            <!-- <br>
            <label>Email Address</label>
            <input type="email" placeholder="Enter Email Address" name="email" required> -->
            <br>
            <label>Date of Birth</label>
            <input type="date" name="doB" required>
            <br>
            <label>NHS Number</label> 
            <input type="text" placeholder="Enter NHS Number" name="nhsNumber" required>
            <br>
            <label>Gender</label>
            <label>M</label>
            <input type="radio" name="gender" value="M">
            <label>F</label>
            <input type="radio" name="gender" value="F">
            <br>
            <label>Address 1</label>
            <input type="text" placeholder="Enter Street Address" name="address1" required>
            <br>
            <label>Address 2</label>
            <input type="text" placeholder="Enter Address Line 2" name="address2" required>
            <br>
            <label>City</label>
            <input type="city" placeholder="Enter City" name="townCity" required>
            <br>
            <label>Postcode</label>
            <input type="text" placeholder="Enter Postcode" name="postCode" required>
            <br>
            <br>
            <a id="fName"></a>
            <a id="lName"></a>
            <a id="email"></a>
            <button type="submit">Submit</button>
    </div>

  </body>